body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
}

h2 {
    font-size: 1.8em; /* Aumenta o tamanho do título secundário */
}

p {
    font-size: 1.2em; /* Aumenta o tamanho do texto */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
    margin-bottom: 15px; /* Adiciona espaço entre os parágrafos */
}

.image-container {
    display: flex;
    justify-content: center; /* Centraliza as imagens */
    margin-top: 20px; /* Espaço acima das imagens */
}

.medium-image {
    width: 300px; /* Aumenta o tamanho das imagens */
    height: auto;
    margin: 0 10px; /* Espaço entre as imagens */
}

footer {
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    margin: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 15px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}
